<div class="container">
	<h2>blogs<h2>
 </div>
            
    <div class="col-sm-2">
        <input class="col-sm-2" type="checkbox" ng-model="myBlogs"/> only show my blogs
    </div>
 </div> 
<div class="container">
        <table class="table ng-table-responsive">       
             <thead>
              <thead>
                <tr>
                	<th>author</th>
                    <th>title</th>
                    <th>date</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="!myBlogs" ng-repeat="blog in blogs">




                    <td><a href="/blogs/{{blog.name}}">{{blog.name}}</a></td>

                    <td><a href="/blogDetails/{{blog._id}}">{{blog.title}}</a></td>
                    <td>{{blog.date}}</td>
                    <td>
                        <button type="button" ng-disabled="blog.name != commonData.username" ng-click="edit(blog._id)" class="btn btn-primary">edit</button>
                    </td>
                    <td>
                        <button type="button" ng-disabled="blog.name != commonData.username" ng-click="remove(blog._id)" class="btn btn-primary">delete</button>
                    </td>
                </tr>

                <tr ng-show="myBlogs == true" ng-repeat="blog in blogs | filter:{name:commonData.username}">
                    <td>{{blog.name}}</td>
                    <td><a href="/blogDetails/{{blog._id}}">{{blog.title}}</a></td>
                    <td>{{blog.date}}</td>

                    <td>
                        <button type="button" ng-disabled="blog.name != commonData.username" ng-click="edit(blog._id)" class="btn btn-primary">edit</button>
                    </td>
                    <td>
                        <button type="button" ng-disabled="blog.name != commonData.username" ng-click="remove(blog._id)" class="btn btn-primary">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
        