
<div class="container">
	<h2>blogs<h2>
</div>
<input type="search" class="form-control" ng-model="search" placeholder="search by title"></input>
      </div>

     
    <p><strong>select:</strong> 
      <select ng-model="selectBlogs">
        <option value="allBlogs">all blogs</option>
        <option value="myBlogs">my blogs</option>
      </select>
    </div> 

<div class="container">
        <table class="table ng-table-responsive">       
             <thead>
              <thead>
                <tr>
                	<th>author</th>
                    <th>title</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody ng-switch="selectBlogs">
                <tr ng-switch-when="allBlogs or default" ng-repeat="blog in blogs">
                    <td>{{blog.name}}</td>
                    <td>{{blog.title}}</td>
                    <td>{{blog.date}}</td>
                    <td>
                    <button type="button" ng-disabled="blog.name != commonData.username" ng-click="remove(blogs._id)" class="btn btn-danger">delete</button>
                    </td>
                </tr>

        <tr ng-switch-when="myBlogs" ng-repeat="blog in blogs | filter:{name:commonData.username}">
                    <td>{{blog.name}}</td>
                    <td>{{blog.title}}</td>
                    <td>{{blog.date}}</td>
                    <td>
                <button type="button" ng-disabled="blog.name != commonData.username" ng-click="remove(blog._id)" class="btn btn-danger">delete</button>

                    </td>
                </tr>




                <tr ng-switch-default ng-repeat="blog in blogs">
                    <td>{{blog.name}}</td>
                    <td>{{blog.title}}</td>
                    <td>{{blog.date}}</td>
                    <td>
                <button type="button" ng-disabled="blog.name != commonData.username" ng-click="remove(blog)" class="btn btn-danger">delete</button>

                    </td>
                </tr>


            </tbody>
        </table>
</div>
        