
<div style="margin-top: 100px;">
    <form name="myForm" ng-submit="update()" class="container form-horizontal">
        <div class="form-group" ng-class="{'has-error':myForm.username.$dirty && myForm.username.$invalid}">
            <label class="col-sm-2 control-label">username</label>
            <div class="col-sm-2">
            <label class="col-sm-2 control-label">{{data.name}}</label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':myForm.email.$dirty && myForm.email.$invalid}">
            <label class="col-sm-2 control-label">email</label>
            <div class="col-sm-10">
                <input type="email" autocomplete="off" name="email" ng-required="true" ng-model="data.email" class="form-control" placeholder="email">
                <div ng-show="myForm.email.$dirty && myForm.email.$error.email" class="alert alert-danger help-block">
                    email format is incorrect
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">website</label>
            <div class="col-sm-10">
                <input type="url" autocomplete="off" name="blog" ng-model="data.link" class="form-control" placeholder="website">
            </div>
        </div>

       
        <div class="form-group">
            <label class="col-sm-2 control-label">personal statement</label>
             <div class="col-sm-10">
                <textarea class="form-control" rows="3" cols="20" ng-model="data.statement"></textarea>
            </div>
        </div>


        <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" class="btn btn-default" ng-disabled="myForm.$invalid">update</button>
           </div>
        </div>
    </form>
    <br>
        <br>
    <br>
</div>
</div>
